:root {
	--backgroundColor: #fffbf4;
	--fontColor: #70685b;
	--btnColor: #141414;
	--headerFont: "Eczar", serif;
	--bodyFont: "DM Sans", sans-serif;
	--red: #fc312f;
}

html {
	/*For smooth scrolling behavior*/
	scroll-behavior: smooth;
}

body {
	background-color: var(--backgroundColor);
	color: var(--fontColor);
	padding: 0 72px 120px;
}

.topi {
	margin-top: 130px;
}

.navv {
	background: var(--backgroundColor);
	color: var(--fontColor);
	position: fixed;
	width: 90%;
	top: 0;
	z-index: +5;
}

.navbar-expand-lg .navbar-nav .nav-link:first-child {
	padding-left: 0 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: 1rem;
	padding-right: 1rem;
}

.nav {
	display: flex;
	justify-content: space-between;
	font-family: var(--bodyFont);
	padding-top: 16px;
}

.nav div {
	display: flex;
	margin: auto 0;
}

.nav img {
	margin: 12px 0;
}

.nav div p:first-child {
	margin-right: 48px;
}

.first-section {
	width: 55%;
	font-family: var(--bodyFont);
	margin: 80px 0;
}

.first-section .name {
	font-family: var(--headerFont);
	font-size: 2.9rem;
	font-weight: bold;
	margin: 0;
}

.font-300 {
	font-weight: 300;
	font-style: var(--bodyFont);
}

.font-size-md {
	font-size: 24px;
}

.line-height-tall {
	line-height: 42px;
}

.button {
	border: 1px solid #ffffff;
	border-radius: 5px;
	background: var(--btnColor);
	color: #ffffff;
	padding: 14px 24px 14px 24px;
}

.margin-none {
	margin-top: 0;
}

.text-align-right {
	text-align: right;
}

/* .text-align-right::before {
	content: "";
	height: 1px;
	width: 112px;
	background: #70685b;
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 10px;
} */

.uppercase {
	text-transform: uppercase;
	font-family: var(--bodyFont);
	position: relative;
	padding-left: 120px;
}

.role {
	text-transform: uppercase;
	font-family: var(--bodyFont);
	position: relative;
	padding-left: 120px;
}

.role::before {
	content: "";
	height: 1px;
	width: 112px;
	background: #70685b;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 52px;
}

.designer {
	text-transform: uppercase;
	font-family: var(--bodyFont);
	position: relative;
	/* padding-left: 120px; */
}

.designer::before {
	content: "";
	height: 1px;
	width: 112px;
	background: #70685b;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 448px;
}

.flow {
	text-transform: uppercase;
	font-family: var(--bodyFont);
	position: relative;
	/* padding-left: 120px; */
}

.flow::before {
	content: "";
	height: 1px;
	width: 112px;
	background: #70685b;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 420px;
}

.interface {
	text-transform: uppercase;
	font-family: var(--bodyFont);
	position: relative;
	/* padding-left: 120px; */
}

.interface::before {
	content: "";
	height: 1px;
	width: 112px;
	background: #70685b;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 380px;
}

.process {
	text-transform: uppercase;
	font-family: var(--bodyFont);
	position: relative;
	padding-left: 120px;
}

.process::before {
	content: "";
	height: 1px;
	width: 112px;
	background: #70685b;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 350px;
}

.show-none {
	display: none;
}

.featured {
	text-transform: uppercase;
	font-family: var(--bodyFont);
	position: relative;
	padding-left: 120px;
}

.featured::before {
	content: "";
	height: 1px;
	width: 112px;
	background: #70685b;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 180px;
}

.partners {
	text-transform: uppercase;
	font-family: var(--bodyFont);
	position: relative;
	padding-left: 120px;
}

.partners::before {
	content: "";
	height: 1px;
	width: 112px;
	background: #70685b;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 84px;
}

.disclaimer {
	text-transform: uppercase;
	font-family: var(--bodyFont);
	position: relative;
	padding-left: 120px;
}

.disclaimer::before {
	content: "";
	height: 1px;
	width: 112px;
	background: #fb4744;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 100px;
}
.uppercase::before {
	content: "";
	height: 1px;
	width: 112px;
	background: #70685b;
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 10px;
}

.footer {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.footer .touch {
	font-family: var(--headerFont);
	font-weight: 800;
	font-size: 2rem;
	margin-bottom: 8px;
	margin-top: 120px;
}

.footer .contact {
	display: flex;
	font-family: var(--bodyFont);
	justify-content: center;
}

.footer .contact .margin {
	margin-right: 32px;
}

.footer .social-icons {
	display: flex;
	justify-content: space-between;
	width: 40%;
	margin: 20px auto 0;
}

.flowchart {
	height: fit-content;
}

.projects {
	display: flex;
	justify-content: space-between;
	margin: 52px auto 0px;
	width: 100%;
	height: fit-content;
}

.projects div {
	width: 47%;
}

.projects div img {
	width: 100%;
	margin: auto 0;
}

.text {
	margin: auto 0;
}

.pro-image {
	cursor: pointer;
}

.pro-image:hover {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.projects .text .number {
	font-family: var(--headerFont);
	font-size: 4.5rem;
	font-weight: bold;
	margin-bottom: 0;
	-webkit-text-stroke: 1px #70685b;
	color: #fffbf4;
}

.projects .text .title {
	font-family: var(--bodyFont);
	font-weight: bold;
	font-size: 28px;
	margin-top: 0;
}

.line-height-medium {
	line-height: 31px;
}

.body-font {
	font-family: var(--bodyFont);
}

.more {
	font-weight: bold;
}

a {
	color: var(--fontColor);
	text-decoration: none;
	/* position: relative; */
}

a:hover {
	color: var(--btnColor);
}

.active {
	color: #70685b;
	position: relative;
	font-weight: 500;
}

.active::before {
	content: "";
	position: absolute;
	height: 5px;
	border-bottom: 1px solid var(--fontColor);
	bottom: 0;
	width: 74px;
}

.activee {
	color: #70685b !important;
	position: relative;
	font-weight: 500;
}

.activee::before {
	content: "";
	position: absolute;
	height: 5px;
	border-bottom: 1px solid var(--fontColor);
	bottom: 0;
	width: 64px;
}

/* .navbar-nav > .active > a {
	color: red !important;
} */

/* a:link {
	color: var(--fontColor);
	text-decoration: none;
	
}

a:active{
	color: blue;
}

a:focus{
	color: red;
}

#navigation a.active-link {
	color: purple;
} */

/* a:visited {
	color: red;
	/* content: "";
	height: 1px;
	width: 112px;
	background: #70685b;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 100px; */
/* } */

/* .featured span {
	display: inline-block;
	position: relative;
}

.featured span::after {
	content: "";
	position: absolute;
	height: 5px;
	border-bottom: 1px solid var(--fontColor);
	top: 0;
	width: 200px;
} */

/* about */
.flex {
	display: flex;
	justify-content: space-between;
	font-family: var(--bodyFont);
}

.top {
	margin-top: 100px;
}

.flex .main {
	width: 57%;
}

.flex .img-box {
	width: 30%;
}

.flex .img-box img {
	width: inherit;
}

.font-size-lg {
	font-size: 24px;
	font-family: var(--headerFont);
}

/* portfolio */
.back {
	display: flex;
	font-family: var(--bodyFont);
}

.backk {
	display: flex;
	font-family: var(--bodyFont);
}

.back p {
	font-weight: bold;
	font-size: 16px;
	margin-left: 12px;
}

.portfolio-main {
	width: 48%;
}

.portfolio-main .title {
	font-family: var(--headerFont);
	font-size: 24px;
}

.portfolio-main .text {
	font-family: "Lato", sans-serif;
	font-weight: 800;
	font-size: 86px;
	color: #303030;
	margin: 0;
}

.portfolio-main .mull {
	font-family: "Lato", sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.portfolio-main .primary {
	font-weight: 300;
}

.alpha {
	font-size: 18px;
	font-family: "Lato", sans-serif;
	color: #c4c4c4;
	letter-spacing: 6.5px;
	font-weight: bold;
}

.portfolio-side {
	width: 48%;
}

.width-100 {
	width: 100%;
}

.user {
	width: 100%;
	display: flex;
	/* overflow-x: hidden; */
	justify-content: space-between;
}

.first {
	margin-left: -100px;
}

.sound-first {
	margin-left: -200px;
}

.right {
	margin-right: -24px;
}

.first-top {
	margin-top: 80px;
}

.second-top {
	margin-top: 200px;
}

.last-top {
	margin-top: 150px;
}

.image-flex {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.image-flexx {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.width-100 .title {
	font-family: var(--headerFont);
	font-size: 24px;
}
.details {
	margin-left: 250px;
	margin-top: 48px;
}

.red {
	color: var(--red);
}

.topp {
	margin-top: 42px;
}

.top-bottom {
	margin-bottom: 42px;
}

.margin-bottom {
	margin-bottom: 0px;
}

.taskbox {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 24px auto 0px;
}

.taskboxx {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 24px auto 0px;
}

.text-centerr {
	text-align: center;
}
.task {
	box-shadow: 0px 0px 15px rgba(112, 104, 91, 0.23);
	border-radius: 5px;
	padding: 12px 16px;
	height: 206px;
	display: flex;
	flex-direction: column;
	/* align-items: center;
	justify-content: center; */
	width: 42%;
	text-align: center;
}

.text-center {
	text-align: center;
}

.line-height-small {
	line-height: 22px;
}

.mx-auto {
	margin: 0 auto;
}

.my-auto {
	margin: auto 0;
}

.hr {
	border-bottom: 0.5px solid rgba(112, 104, 91, 0.25);
}

.width-75 {
	width: 75%;
	margin: 0 auto;
	font-family: var(--bodyFont);
}

.width-90 {
	width: 90%;
	margin: 0 auto;
	font-family: var(--bodyFont);
}
.bottom {
	margin-bottom: 100px;
}
.text-justify {
	text-align: justify;
}

.width-80 {
	width: 80%;
	margin: 0 auto;
	font-family: var(--bodyFont);
}

.width-75 .title {
	font-family: var(--headerFont);
	font-size: 24px;
}

.margin-left {
	margin-left: 200px;
}

.ideation .title {
	font-family: var(--headerFont);
	font-size: 24px;
}

.ideation .width {
	width: 100%;
}

.design .title {
	font-family: var(--headerFont);
	font-size: 24px;
}

.text-gray {
	color: #979797;
	font-family: var(--bodyFont);
}

.colors {
	font-family: var(--bodyFont);
	margin-bottom: 8px;
	font-size: 20px;
}

.box {
	border-radius: 20px;
	color: white;
	font-weight: 600;
	text-align: center;
	font-family: var(--bodyFont);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 24px;
}

.box-1 {
	width: 243px;
	height: 220px;
	background-color: #031a6e;
}

.mleft {
	margin-left: -12px;
}

.box-6 {
	width: 243px;
	height: 220px;
	padding: 16px 0px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	color: white;
	font-weight: 600;
	text-align: center;
	justify-content: space-between;
	font-family: var(--bodyFont);
	background: linear-gradient(
		0.21deg,
		#969bff -36.05%,
		#656cee 70.3%,
		#656cee 70.3%
	);
}

.box-2 {
	width: 200px;
	height: 180px;
	background: #353fde;
}

.box-3 {
	background: #999999;
	width: 200px;
	height: 180px;
}

.box-4 {
	background: #ededef;
	width: 200px;
	height: 180px;
}

.box-5 {
	background: #969bff;
	width: 200px;
	height: 180px;
}

.d-hidden {
	display: none;
}

.d-nonee {
	display: block;
}

@media only screen and (max-width: 600px) {
	body {
		padding: 0 20px 100px;
		overflow-x: hidden !important;
	}

	.d-nonee {
		display: none;
	}

	.d-hidden {
		visibility: hidden;
		display: block;
	}

	.backk {
		flex-direction: column;
	}

	.role::before {
		left: 0px;
	}

	.designer {
		padding-left: 118px;
	}

	.designer::before {
		left: 0px;
	}

	.flow {
		padding-left: 118px;
	}

	.flow::before {
		left: 0px;
	}

	.interface {
		padding-left: 116px;
	}

	.interface::before {
		left: 0px;
	}

	.process::before {
		left: 0px;
	}

	.partners::before {
		left: 0px;
	}

	.disclaimer::before {
		left: 0px;
	}

	.first-section {
		width: 100%;
	}

	.title {
		font-family: var(--headerFont);
		font-size: 18px;
	}

	.portfolio-main .title {
		font-family: var(--headerFont);
		font-size: 18px;
	}
	.projects {
		flex-direction: column;
		margin: 32px auto 0px;
	}
	.projects .text .number {
		margin-top: 0;
	}
	.projects-reverse {
		flex-direction: column-reverse;
	}
	.projects div {
		width: 100%;
	}
	.footer {
		width: 100%;
	}
	.footer .contact {
		flex-direction: column;
	}
	.footer .social-icons {
		width: 75%;
	}
	.footer .contact .margin {
		margin-right: 0;
		margin-bottom: 0;
	}
	.flex {
		flex-direction: column-reverse;
	}
	.img-div {
		width: 100%;
	}
	.about-image {
		width: inherit;
		margin-bottom: 24px;
	}
	.flex .main {
		width: 100%;
	}
	.portfolio-side {
		width: 100%;
	}
	.text-align-right {
		text-align: left;
	}
	.details {
		margin-left: 0;
		margin-top: 48px;
	}
	.port-image {
		width: 100%;
	}
	.portfolio-main {
		width: 100%;
	}
	.process-image {
		width: 100%;
	}

	.taskbox {
		flex-direction: column;
		margin: 10px auto 0px;
	}
	.task {
		flex-direction: column;
		margin-bottom: 28px;
		width: 90%;
	}
	.taskboxx {
		margin: 0px auto 0px;
	}

	.tsk {
		width: 90%;
	}
	.margin-left {
		margin-left: 0px;
	}
	.box-1 {
		width: 55px;
		height: 55px;
	}
	.box-2 {
		width: 55px;
		height: 55px;
	}
	.box-3 {
		width: 55px;
		height: 55px;
	}
	.box-4 {
		width: 55px;
		height: 55px;
	}
	.d-none {
		display: none;
	}
	.box-5 {
		width: 55px;
		height: 55px;
	}
	.box-6 {
		width: 55px;
		height: 55px;
		padding: 6px 0px;
		font-size: 10px;
	}
	.image-flexx {
		flex-direction: column;
	}
	.featured {
		text-transform: uppercase;
		font-family: var(--bodyFont);
		position: relative;
		padding-left: 120px;
	}

	.featured::before {
		content: "";
		height: 1px;
		width: 112px;
		background: #70685b;
		display: inline-block;
		position: absolute;
		top: 10px;
		left: 0;
	}
	/* .text-center {
		text-align: left;
	} */
	.box {
		/* border-radius: 20px;
	color: white;
	font-weight: 600;
	text-align: center;
	font-family: var(--bodyFont);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 24px; */
		padding-bottom: 6px;
		font-size: 10px;
	}
	.width-75 {
		width: 100%;
	}
	.text-center {
		text-align: left;
	}
	.width-90 {
		width: 100%;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-left: 0rem;
		padding-right: 1rem;
	}
	/* .projects .text .title {
		font-size: 14px;
	} */
	.show-none {
		display: block;
	}
	.active::before {
		content: "";
		position: absolute;
		height: 5px;
		border-bottom: 1px solid var(--fontColor);
		bottom: 0;
		width: 0px;
	}
	.activee::before {
		content: "";
		position: absolute;
		height: 5px;
		border-bottom: 1px solid var(--fontColor);
		bottom: 0;
		width: 0px;
	}
}
